<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add Drug</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="field">
      <h2> Добавление лекарства</h2>
      <form method="POST">
        <label for="nm">Название</label>
        <br><br>
        <input id="nm" type="text" name="name" value="">
        <br> <br><br>
        <label for="dy">День</label>
        <input id="dy" type="checkbox" name="day" value="1"><br><br>
        <label for="ev">Ночь</label>
        <input id="ev" type="checkbox" name="evening" value="2">
        <br><br>
        <div class="subm">
        <button id="bt" type="submit">добавить</button>
        <br><br>
        </div>
      </form>
    </div>
  </body>
</html>